- content_for(:header_right) { link_to t("show"), @invoice, class: "mobile-button-header" } if can?(:show, @invoice)
- content_for(:header_title){ _("Edit invoice %{id}", id: @invoice.id) }
= render "form", invoice: @invoice
