- content_for(:header_right) { link_to _("Show"), @invoice, class: ["mobile-button", "mobile-button-small"] } if can?(:show, @invoice)
- content_for(:header_title){ _("Edit invoice %{id}", id: @invoice.id) }
= render "form", invoice: @invoice
