= t(".hello_user_name", user_name: @user.name)
%br
%br

%b= Task.model_name.human
%br
= link_to @task.name_force, task_url(@task)

%br
%br

= t(".you_have_been_assigned_to_a_check_for_the_mentionen_task", check_name: @task_check.name)
