<%
  if _get["choice"] == "dologin"
    user = _ob.get_by(:User, {
      "username" => _post["username"],
      "passwd" => _post["password"]
    })
    if !user
      print JSON.generate(
        "result" => false,
        "msg" => "User not found."
      )
    else
      print JSON.generate(
        "result" => true,
        "msg" => "Logged in as user #{user.id}.",
        "user_data" => user.data
      )
    end
  end
%>