- content_for(:header_title) { t(".locales") }

= simple_form_for :locale, url: locales_path do |f|
  = f.input :locale, collection: available_locales.invert, selected: I18n.locale.to_s
  = f.submit t("save"), class: "mobile-button-primary"
