<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<%
  _site.load_request
  
  show = _get["show"]
  show = "frontpage" if !show
  showp = "../pages/#{show}.rhtml"
  
  head_title = "knjTasks"
  
  if _get["show"] == "task_show" or (_get["show"] == "task_edit" and _get["task_id"])
    begin
      task = _ob.get(:Task, _get["task_id"])
      head_title = task.name
    rescue Knj::Errors::NotFound
      _kas.alert(_("That task could not be found.")).back
    end
  elsif _get["show"] == "project_show" or (_get["show"] == "project_edit" and _get["project_id"])
    begin
      project = _ob.get(:Project, _get["project_id"])
      head_title = project.name
    rescue Knj::Errors::NotFound
      _kas.alert(_("That project could not be found.")).back
    end
  end
  
  _kas.redirect("?show=user_login&backurl=#{Knj::Php.urlencode(_meta["REQUEST_URI"])}") if !_site.user and _get["show"] != "user_login"
%>
<html>
<head>
  <title><%=head_title.html%></title>
  
  <link rel="stylesheet" type="text/css" href="css/default.css" />
  
  <script type="text/javascript" src="<%=_site.args[:knjjs_url]%>/jquery.js"></script>
  <script type="text/javascript" src="<%=_site.args[:knjjs_url]%>/jquery.md5.js"></script>
  <script type="text/javascript" src="<%=_site.args[:knjjs_url]%>/modal.js"></script>
  <script type="text/javascript" src="<%=_site.args[:knjjs_url]%>/events.js"></script>
  <script type="text/javascript" src="<%=_site.args[:knjjs_url]%>/forms.js"></script>
  <script type="text/javascript" src="<%=_site.args[:knjjs_url]%>/select.js"></script>
  
  <script type="text/javascript" src="js/default.js"></script>
</head>
<body>
  <script type="text/javascript">
    var js_settings = {
      "knjjs_url": "<%=_site.args[:knjjs_url]%>"
    }
    
    var locale_strings = {
      "close": "<%=_('Close')%>",
      "comment_edit_title": "<%=_('Edit comment')%>",
      "timelog_edit_title": "<%=_('Edit timelog')%>",
      "task_check_edit_title": "<%=_('Edit task-check')%>"
    }
  </script>
  
  <center>
  <table class="main_table" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="3" class="main_logo">
        knjTasks
      </td>
    </tr>
    <tr>
      <td class="main_corner_top_left"></td>
      <td class="main_side_top"></td>
      <td class="main_corner_top_right"></td>
    </tr>
    <tr>
      <td class="main_side_left"></td>
      <td class="main_body">
        <div class="main_menu_outer">
          <div class="main_menu_inner">
          <%
            if _site.user
              menu = [
                {:name => _("Frontpage"), :link => "?show=frontpage"}
              ]
              
              if _site.has_rank?("admin") and (!_site.args.has_key?(:customers) or _site.args[:customers])
                menu << {:name => _("Customers"), :link => "?show=customer_search"}
                menu << {:name => _("Projects"), :link => "?show=project_search"}
              end
              
              menu << {:name => _("Tasks"), :link => "?show=task_search"}
              menu << {:name => _("Users"), :link => "?show=user_search"}
              
              if _site.has_rank?("admin")
                menu << {:name => _("Timelogs"), :link => "?show=timelog_search"}
              end
              
              menu << {:name => _("Log out"), :link => "?show=user_login&choice=dologout"}
            else
              menu = [
                {:name => _("Log in"), :link => "?show=user_login"}
              ]
            end
            
            menu.each do |mi|
              %>
                <a href="<%=mi[:link]%>"><%=mi[:name]%></a>&nbsp;&nbsp;&nbsp;
              <%
            end
          %>
          </div>
        </div>
        <div class="main_content">
          <%
            _kas.import(showp)
          %>
        </div>
      </td>
      <td class="main_side_right"></td>
    </tr>
    <tr>
      <td class="main_side_left"></td>
      <td class="main_bottom">
        <div style="padding-bottom: 15px;">
          Language:
          <select style="width: 100px;" onchange="location.href='<%=_meta["REQUEST_URI"]%>&amp;l=' + this.value;">
            <%=Knj::Web.opts(_kas.gettext.lang_opts, _session[:locale])%>
          </select>
        </div>
        
        <%=sprintf(_("Made by %s"), "<a href=\"mailto:k@spernj.org\">Kasper Johansen</a>")%>
      </td>
      <td class="main_side_right"></td>
    </tr>
  </table>
  </center>
</body>
</html>