<%
  project = _ob.get(:Project, _get["project_id"])
  
  print _site.header(sprintf(_("Show project: %s."), project.name.html))
%>

<%=_site.boxt(_("Information"), "350px")%>
  <table class="form">
    <%
      if project.added_user
        print Knj::Web.input(
          :title => _("Added by"),
          :type => :info,
          :value => project.added_user.html
        )
      end
    %>
  </table>
<%=_site.boxb%>