body.controller_frontpage {
  .task_link.state_open {
    font-weight: bold;
  }

  table.task-list tbody tr.task-row {
    td:first-child {
      width: 10px;
    }

    td:nth-child(4) {
      width: 100px;
      padding-right: 15px;
    }
  }
}
